<section>
	<div class="page-header"></div>

<link rel="stylesheet" type="text/css" href="modules/ddd/views/styles.css">

<h1>Order CARFAX Report</h1>
<p class="ts">When purchasing a car, it is vital to know it's history so that you know exactly what you are getting. One of the best ways to do this is with a CARFAX report. CARFAX Reports contain important information that can help you make a more informed decision about a used car, truck or SUV, including:</p>
	<ul>
		<li>Vehicle Registration</li>
		<li>Frame/Structural Damage</li>
		<li>Salvaged, Junk, or Flood titles</li>
		<li>Odometer Readings</li>
		<li>Lemon History</li>
		<li>Total Loss Accident History</li>
		<li>Accident Indicators</li>
		<li>Service and Repair Information</li>	
		<li>Vehicle Usage (was it ever a taxi or rental car)</li>
		<li>Recall Information</li>
	</ul>
<p class="ts">You can easily order a CARFAX report online. Some types of CARFAX reports are free. However, there is a fee to order most detailed reports, and you will need one of the following to do this:</p>
	<ul>
		<li>Vehicle Identification Number (VIN)</li>
		<li>License Plate Number and State the vehicle is registered in.</li>
	</ul>
<p class="ts">If you do not have either of these, you may need to contact the seller to obtain them to order the report.</p>
<p class="ts">Once you are ready, you can order the report online by simply clicking on the following button:</p>

<a href="http://www.carfax.com/guides/buying-used/what-to-consider/free-carfax" class="myButton">Order CARFAX Report</a>

<img class="fax" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRRuKCrbN49vzylA_2gtDvoG7r0lbM8LIZFNXTH0v30GRdG4heuQg">



</section>